.our-team__title,
.our-clients-title {
  text-align: center;
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.85;
  margin-bottom: 50px;
}
.work-example-title {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
}
