h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

img {
  display: block;
}
ul {
  list-style: none;
}
button {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
